* {
    box-sizing: border-box;
}

#fullPage{
    width: 60%;
    margin: auto;
}

#pageInfo{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

#gameButtons{
    /*border: 2px solid red;*/
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-around;
}

#gameBoard{
    border: 2px solid black;
    height: 70vh;
    margin-top: 50px;
    display: flex; /*div's will be added via JS*/
    flex-wrap: wrap;
}